html{
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a,a:hover,a:visited{
    text-decoration: none;
    color: $white;
}

body{
    background: $darkBlueBackground04;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}

img{
    display: block;
    max-width: 100%;
}

// 1440px, 1290px
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1210px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0 auto;
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 3.4rem;
    margin-bottom: 4.5rem;
    font-weight: 700;
}

.btn{
    display: inline-block;
    text-align: center;
    padding: 2.2rem 9.5rem;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    border: 0;
    &--primary{
        background: linear-gradient(to right,$cyan,$blue);
    }
    &--round{
        border-radius: 10rem;
    }
}