.header{
    padding-top: 7rem;
    font-family: 'Raleway', sans-serif;
    @include breakpoints-down(small){
        padding-top: 5rem;
    }
    &__inner{
        @include flexbox(center,space-between);
    }
    &__logo{
        background: #000;
        display: block;
        height: 100px;
        @include breakpoints-down(small){
            height: 50px;
        }
    }
    &__menu{
        &-list{
            @include flexbox();
        }
        &-item{
            margin-left: 5.5rem;
            @include breakpoints-down(small){
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}