.wrapper-intro{
    background: url(/images/bg-curvy-desktop.svg) no-repeat;
    background-position: bottom;
    padding-bottom: 12rem;
    background-size: 100% 42rem;
    @include breakpoints-down(small){
        background-size: 100% 25rem;
    }
}
.intro{
    color: $white;
    padding-top: 9.5rem;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    &__image{
        margin-bottom: 4.5rem;
    }
    &__heading{
        font-size: 3.4rem;
        margin-bottom: 4.5rem;
        font-weight: 700;
        @include breakpoints-down(small){
            font-size: 5rem;
            margin-bottom: 6.5rem;
         }
    }
    &__desc{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 4rem;
        font-weight: 400;
        max-width: 50rem;
        @include breakpoints-down(small){
            font-size: 2rem;
            margin-bottom: 7.5rem;
         }
    }
}