@mixin flexbox($align: flex-start, $justify: flex-start, $wrap: wrap,$dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

//640px 1024px 1400px
$breakpoints-up:("medium" : "75rem","large" : "144rem");
//639px 1023px 1399px
$breakpoints-down:("small" : "74.89rem","medium" : "143.89rem");

@mixin breakpoints-up($size) {
    @media(min-width: map-get($breakpoints-up, $size )){
        @content;
    }
}

@mixin breakpoints-down($size) {
    @media(max-width: map-get($breakpoints-down, $size )){
        @content;
    }
}