// -------------Colors----------------
//  intro and email sign up background
$darkBlueBackground01: hsl(218, 28%, 13%);
//  main background
$darkBlueBackground02: hsl(218, 28%, 13%);
// footer background
$darkBlueBackground03: hsl(216, 53%, 9%);
// testimonials background
$darkBlueBackground04: hsl(219, 30%, 18%);
// inside call-to-action gradient
$cyan: hsl(176, 68%, 64%);
//  inside call-to-action gradient
$blue: hsl(198, 60%, 50%);
//  error
$lightRed: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);